input#show_site_hot_content {
    right:200px;
    position:absolute;
    top:-24px;
    line-height:1.2;
}

label[for=show_site_hot_content] {
    line-height:1.2;
    position:absolute;
    top:-24px;
    right:100px;
}
