#db-nav-sns {
	background: #E9F4E9!important;
}

.global-nav {
	min-width: 768px;
	height: 28px;
	padding: 0 30px 0 15px;
	color: #D5D5D5;
	background-color: #fff!important;
}
.global-nav a:active,.global-nav a:link, .global-nav a:visited {
	color: #566D5E!important;
}
.global-nav a:hover {
	color: #fff!important;
	background: #219A44!important;
}
#db-nav-sns .nav-logo {
	width: 184px;
	height: 50px!important;
	background-position: 0 10px;
}
#db-nav-sns .nav-primary {
	padding-top: 0px!important;
}
.nav .nav-primary {
	padding: 0!important;
}
.nav-secondary ul {
	margin: 0!important;
}
.nav-search{
	padding: 10px 0 10px 0!important;
}
/*#wrapper #content h1{display:none!important;}*/

.notify-mod{
	display:none!important;
}
.global-nav {
	width: 960px!important;
	margin: 0 auto!important;
}

