#db-nav-sns {
	background: #E9F4E9!important;
}

.global-nav {
	min-width: 768px;
	height: 28px;
	padding: 0 30px 0 15px;
	color: #D5D5D5;
	background-color: #fff!important;
}
.global-nav a:active,.global-nav a:link, .global-nav a:visited {
	color: #566D5E!important;
}
.global-nav a:hover {
	color: #fff!important;
	background: #219A44!important;
}
#db-nav-sns .nav-logo {
	width: 184px;
	height: 50px!important;
	background-position: 0 10px;
}
#db-nav-sns .nav-primary {
    padding: 0px!important;
}
#db-nav-commodity .nav-primary {
    padding: 10px 0px 5px!important; 
}
#db-nav-commodity .nav-primary .nav-enteracne {
    top: 2px;
}
.nav-secondary ul {
	margin: 0!important;
}
.nav-search{
	padding: 10px 0 10px 0!important;
}
.global-nav {
	width: 960px!important;
	margin: 0 auto!important;
}
div#dale_update_top_right, div#dale_homepage_login_top_right {
    display:none!important;
}
